body{
    margin: 0;
    background-color: lightgray;
    font-family: Arial;
}

#welcome{
    width: 100%;
    height: 70px;
    background-color: bisque;
}

#welcome input{
    padding: 5px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #d13e3e;
    border: none;
    border-radius: 15px;
}

#hola{
    padding-top: 8px;
    float: right;
    margin-right: 20px;
}

#hola img{
    margin-right: 10px;
}

#logo{
    padding-top: 8px;
    float: left;
    margin-left: 20px;
    display: inline;
}

#welcome a{
    color: purple;
}

#shopCart{
    display: none;
}

#hola a:hover #shopCart{
    display: block;
    height: 600px;
    width: 30%;
    background-color: yellow;
    position: absolute;
    margin-left: 68%;
}


.cuadro{
    margin: auto;
    width: 50%;
    background:rgba(0,0,0,0.7);
    color: white; 
    padding: 20px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.cuadro div{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
    display: inline-block;
}

.cuadro input{
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
}


#cesta{
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 70px;
    left: 75%;
    width: 25%;
    padding: 10px 0px 10px 10px;
}

#cesta td{
    padding-bottom: 10px;
}

table{
    color: white;
}
.inter{
    border: 1px dashed white;
}

th, td{
    padding-right: 50px;
}
.total{
    border-top: 1px solid white;
    text-align: right;
}
/*login*/
fieldset {
    min-width: 150px;
    display: inline-block;
    margin: auto;
}
fieldset input{
    float: right;
}
fieldset label{
    padding-top: 50px;
}


